<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/%EA%B2%B0%EC%A0%95%ED%8A%B8%EB%A6%AC_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.environ['KAGGLE_USERNAME'] = 'chasaem'
os.environ['KAGGLE_KEY'] = 'e3dda6dc4ee9d517bb5226aacacae510'

!kaggle datasets download -d camnugent/california-housing-prices
!unzip '*.zip'

Downloading california-housing-prices.zip to /content
  0% 0.00/400k [00:00<?, ?B/s]
100% 400k/400k [00:00<00:00, 85.2MB/s]
Archive:  california-housing-prices.zip
  inflating: housing.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

house = pd.read_csv('/content/housing.csv')

In [3]:
house.info() # total_bedrooms 결측치 존재, 범주컬럼1, 나머지 수치

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
house.corr()['median_house_value'].sort_values()

<ipython-input-4-c971c9a08d64>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  house.corr()['median_house_value'].sort_values()

latitude             -0.144160
longitude            -0.045967
population           -0.024650
total_bedrooms        0.049686
households            0.065843
housing_median_age    0.105623
total_rooms           0.134153
median_income         0.688075
median_house_value    1.000000
Name: median_house_value, dtype: float64

In [5]:
train = house[['median_income']]
target = house['median_house_value']

from sklearn.model_selection import train_test_split

# 학습/테스트 분리
trd, tsd, trt, tst = train_test_split(train, target, random_state=42)

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

scaled_trd = ss.fit_transform(trd)
scaled_tsd = ss.fit_transform(tsd)

# 표준화는 학습데이터만 하는 것.

from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(trd, trt)
lr.score(trd, trt), lr.score(tsd, tst)

(0.47430292180263645, 0.47083837938023365)

In [6]:
house.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [7]:

## 모델의 성능을 끌어올리는 것이 목표
## 1. 데이터를 더 많이 넣는 것. -> , 다항회귀
## 다중회귀 적용. 모든 특성 사용.
mtrain = house.drop('median_house_value', axis=1)

## 표준화 -> 범주데이터가 있으면 표준화 불가.
# scaled_mtrain = ss.fit_transform(mtrain)

## 범주 데이터, 수치 데이터 분리
mtrain_cate = mtrain[['ocean_proximity']]
mtrain_num = mtrain.drop('ocean_proximity', axis=1)

## 범주데이터 처리
## 회귀에서는 범주데이터는 처리 불가.
## 범주데이터 > 수치데이터 (인코딩)
## 원핫인코딩
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
encoded_mtrain_cate = encoder.fit_transform(mtrain_cate)

col_names = mtrain['ocean_proximity'].unique()
mtrain_cate_1hot = pd.DataFrame(encoded_mtrain_cate.toarray(), columns=col_names)

mtrain_cate_1hot

       NEAR BAY  <1H OCEAN  INLAND  NEAR OCEAN  ISLAND
0           0.0        0.0     0.0         1.0     0.0
1           0.0        0.0     0.0         1.0     0.0
2           0.0        0.0     0.0         1.0     0.0
3           0.0        0.0     0.0         1.0     0.0
4           0.0        0.0     0.0         1.0     0.0
...         ...        ...     ...         ...     ...
20635       0.0        1.0     0.0         0.0     0.0
20636       0.0        1.0     0.0         0.0     0.0
20637       0.0        1.0     0.0         0.0     0.0
20638       0.0        1.0     0.0         0.0     0.0
20639       0.0        1.0     0.0         0.0     0.0

[20640 rows x 5 columns]

In [8]:
## 수치데이터 처리
### 결측치 처리
### 1. 특정값으로 대체(0, 평균, 중앙값, 최빈값 등등)
### 2. 해당 행이나 열을 제외
### 3. 특정 범주로 축소
mtrain['total_bedrooms']

# 히스토그램 or 박스플롯

# sns.histplot(data=mtrain, x = 'total_bedrooms')
# sns.boxplot(data=mtrain, y='total_bedrooms')


## 이상치가 많으므로 중앙값으로 대체
mtrain_num['total_bedrooms'] = mtrain_num['total_bedrooms'].fillna(mtrain_num['total_bedrooms'].median())

## 학습/테스트분리하기 전에 범주랑 수치 합치기

mtrain_1hot = pd.concat([mtrain_num, mtrain_cate_1hot], axis=1)


## 학습/테스트분리
mtrd, mtsd, mtrt, mtst = train_test_split(mtrain_1hot, target, random_state=42)

## 표준화
scaled_mtrd = ss.fit_transform(mtrd)
scaled_mtsd = ss.transform(mtsd)

lr2 = LinearRegression()
lr2.fit(scaled_mtrd, mtrt)
lr2.score(scaled_mtrd, mtrt), lr2.score(scaled_mtsd, mtst)

(0.6472032405232842, 0.6374825568355214)

In [ ]:
## 회귀 평가 방법 -> RSquare, RMSE
from sklearn.metrics import mean_squared_error

predict_result = lr2.predict(scaled_mtrd)

#predict_result[:5], mtrt[:5]
mse = mean_squared_error(mtrt, predict_result)

np.sqrt(mse) # 실제값과 예측값 사이에 평균 68000 정도의 차이가 발생한다.

## 분포 -> 히스토그램, 박스플롯

#sns.histplot(x=target)
sns.boxplot(x=target)

## 대부분의 집값 120000 ~ 270000 사이

In [25]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(max_depth=10)

dtr.fit(scaled_mtrd, mtrt)
dtr.score(scaled_mtrd, mtrt), dtr.score(scaled_mtsd, mtst)

## 결정 트리의 단점 : 파라미터를 정해놓고 하는게 아니기 때문에 자유도 높음. 데이터의 모양을 따라간다. (과대적합이 쉽다.)

(0.8295359656887884, 0.7201169647106243)

In [11]:

## 2. 데이터 튜닝 - 스케일링, 피처 공학
## 3. 하이퍼파라미터 튜닝